[tool.ruff]
line-length = 88
target-version = "py312"

exclude = [
    "migrations",
    "venv",
    "env",
    ".venv",
    "__pycache__",
    "node_modules",
]

[tool.ruff.lint]
select = ["E", "F", "I"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
"admin.py" = ["F401"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
line-ending = "auto"

[tool.mypy]
exclude = [
    'migrations/.*',
    "venv",
    "env",
    ".venv",
]