services:
  otask-dev-db:
    image: postgres:17
    container_name: otask-dev-db
    restart: always
    env_file: 
      - ./docker.dev.env
    # environment:
    #   - POSTGRES_DB=${POSTGRES_DB}
    #   - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    #   - POSTGRES_USER=${POSTGRES_USER}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U otask -d otask_management"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s

  otask-server:
    build:
      context: ../..
      dockerfile: contrib/container/Dockerfile
      target: backend_dev
    container_name: otask-server
    image: otask-dev-image
    ports:
      - 8000:8001
    volumes:
      - ../../src/backend/otaskmanagement:/src/backend/otaskmanagement:cached
    env_file:
      - ./docker.dev.env
    restart: unless-stopped
    depends_on:
      otask-dev-db:
        condition: service_healthy
    command: >
      sh -c '
        python manage.py migrate || true;
        while true; do
          python -m watchfiles --filter python \
            "python manage.py runserver 0.0.0.0:8000 --noreload";
          echo "[crash] restarting in 1s..."; sleep 1;
        done
      '
  otask-client:
    build:
      context: ../../src/frontend
      dockerfile: Dockerfile
    container_name: otask-client
    image: otask-frontend-dev-image
    ports:
      - 5173:5173
    volumes:
      - ../../src/frontend:/src/frontend:cached
      - /src/frontend/node_modules
    env_file:
      - ./docker.dev.env
    restart: unless-stopped
    command: >
      sh -c '
        npm install;
        npm run dev -- --host
      '
    depends_on:
      - otask-server
volumes:
  postgres_data: