services:
  otask-dev-db:
    image: postgres:17
    container_name: otask-dev-db
    restart: always
    # env_file: 
    #   - ./docker.dev.env
    # environment:
    #   - POSTGRES_DB=${POSTGRES_DB}
    #   - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    #   - POSTGRES_USER=${POSTGRES_USER}
    environment:
      - POSTGRES_DB=otask_management
      - POSTGRES_PASSWORD=otask@123
      - POSTGRES_USER=otask
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U otask -d otask_management"]
      # test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d {POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s

  otask-server:
    build:
      context: ../..
      dockerfile: contrib/container/Dockerfile
      target: backend_dev
    container_name: otask-server
    image: otask-dev-image
    ports:
      - 8000:8000
    volumes:
      - ../../src/backend/otaskmanagement:/src/backend/otaskmanagement
    env_file:
      - ./docker.dev.env
    restart: unless-stopped
    depends_on:
      otask-dev-db:
        condition: service_healthy
    command: >
      sh -c "
        python manage.py migrate &&
        python manage.py runserver 0.0.0.0:8000
      "

volumes:
  postgres_data: