name: Django CI/CD

on:
  push:
    branches: [ "dev", "main" ]
  pull_request:
    branches: [ "dev", "main" ]

jobs:
  test-backend:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_DB: ${{ secrets.DB_NAME }}
          POSTGRES_USER: ${{ secrets.DB_USER }}
          POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
        ports:
          - 5432:5432 
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      redis:
        image: redis:alpine
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      WORKING_DIR: ./src/backend/otaskmanagement
      REQ_DIR: ./src/backend
      PYTHONUNBUFFERED: 1
      
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
      POSTGRES_DB: ${{ secrets.DB_NAME }}
      POSTGRES_USER: ${{ secrets.DB_USER }}
      POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
      REDIS_URL: redis://localhost:6379/0

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: 'pip'

    - name: Install dependencies
      working-directory: ${{ env.REQ_DIR }}
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.pip ]; then pip install -r requirements.pip; fi
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Create .env file
      working-directory: ${{ env.WORKING_DIR }}
      run: |
        echo "${{ secrets.CI_ENV }}" > .env

    - name: Run Migrations
      working-directory: ${{ env.WORKING_DIR }}
      run: |
        export PYTHONPATH=$PYTHONPATH:../../
        python manage.py makemigrations --check
        python manage.py migrate

    - name: Run Tests
      working-directory: ${{ env.WORKING_DIR }}
      run: |
        export PYTHONPATH=$PYTHONPATH:../../
        python manage.py test